.hero {
    border-radius: 12px;
    background: #DC3B5A;
    width: 100%;
    height: auto;
    padding: 36px 63px 19px 63px;
    color: #1E1E1E;
    text-align: center;
    position: relative;
}

.photoHero {
    width: 216px;
    height: 284px;
    margin: 6px auto 0;
}

.title {
    color: #1E1E1E;
    font-family: "Right Grotesk", sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 0.44px;
    margin-bottom: 8px;
}

.subtitle {
    color: #1E1E1E;
    font-family: 'Biro Script Plus Bold US', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.69;
}

.btn {
    color: #FFF;
    font-family: "Right Grotesk", sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 1.18;
    width: 220px;
    padding: 10px 0 12px;
    text-align: center;
    border-radius: 8px;
    background: rgba(30, 30, 30, 0.10);
    backdrop-filter: blur(6px);
    text-wrap: nowrap;
    margin: 0 auto 12px;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    color: #1E1E1E;
}

@media screen and (min-width: 768px) {
    .hero {
        height: 100vh;
    }

    .titleWrapper {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .title {
        font-size: 92px;
    }

    .subtitle {
        font-size: 20px;
    }

    .photoHero {
        width: 283px;
        height: 386px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .btnWrapper {
        width: 190px;
        position: absolute;
        bottom: 22px;
        right: 88px;
        display: flex;
        flex-direction: column-reverse;
        gap: 16px;
    }
}

@media screen and (min-width: 1280px) {
    .title {
        font-size: 188px;
    }

    .subtitle {
        font-size: 24px;
    }

    .photoHero {
        width: 511px;
        height: 675px;
    }
}