.footer {
    padding: 60px 72px 204px 72px;
}

.title {
    color: #FFF;
    font-family: "Right Grotesk", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 24px;
}

.desc {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-align: center;
    margin-bottom: 16px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 60px;
}

.form div {
    position: relative;
    width: 100%;
}

.formIcon {
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 8px 0px 0px 8px;
    background: #1E1E1E;
    backdrop-filter: blur(6px);
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form input {
    width: 100%;
    display: flex;
    height: 48px;
    padding: 22px 24px 22px 72px;
    align-items: center;
    gap: 10px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #1E1E1E;
    background: transparent;
    color: rgba(255, 255, 255, 0.24);
    font-family: "Messina Sans Mono";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.formBtn {
    width: 100%;
    padding: 10px 107px 12px 107px;
    border: none;
    border-radius: 8px;
    background: #DC3B5A;
    backdrop-filter: blur(6px);
    color: #FFF;
    font-family: "Right Grotesk", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
}

.rights {
    text-align: center;
    font-size: 12px;
}

@media screen and (min-width: 768px) {
    .footer {
        padding: 80px 186px 40px;
    }

    .title {
        font-size: 80px;
        margin-bottom: 40px;
    }

    .form {
        width: 248px;
        margin: 0 auto 80px;
    }

    .desc p {
        width: 397px;
        margin: 0 auto 24px;
    }
}

@media screen and (min-width: 1280px) {
    .footer {
        padding: 120px 348px 42px;
    }

    .title {
        font-size: 160px;
        margin-bottom: 80px;
    }

    .form {
        width: 398px;
        margin: 0 auto 120px;
    }

    .desc p {
        width: 581px;
        margin: 0 auto 40px;
    }
}