.collection {
    padding: 60px 72px 0 72px;
}

.slider {
    width: 100%;
    overflow: hidden;
}

.slide {
    width: 216px;
    height: 256px;
    border-radius: 12px;
    overflow: hidden;
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    max-width: 100%;
    max-height: 100%;
}

.btnWrapper {
    display: flex;
    gap: 48px;
    justify-content: center;
    height: 56px;

}

.sliderBtn {
    color: #FFF;
    font-family: "Biro Script Plus";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    background-color: transparent;
    border: none;
}

.title {
    color: #FFF;
    font-family: "Right Grotesk", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .collection {
        padding: 80px 88px 0 88px;
    }

    .title {
        font-size: 80px;
        margin-bottom: 40px;
    }

    .wrapper {
        display: flex;

    }

    .slide {
        width: 240px;
        height: 280px;
        border-radius: 24px;
        overflow: hidden;
    }
}

@media screen and (min-width: 1280px) {
    .collection {
        padding: 120px 138px 0 138px;
    }

    .title {
        font-size: 160px;
        margin-bottom: 80px;
    }

    .slide {
        border-radius: 24px;
    }
}